<div class="row">
  <div class="search-field col-6">
    <form [formGroup]="form" novalidate>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search by typing" formControlName="query">
        <button type="button" class="close" (click)="clearQuery()" *ngIf="query.value">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </form>
  </div>
  <div class="sorting-actions col-6">
    <span class="sort-by">Sort by</span>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn">Date</button>
      <button type="button" class="btn">Beneficiary</button>
      <button type="button" class="btn">Amount</button>
    </div>
  </div>
</div>
