:host {
  display: block;
  margin-bottom: 20px;
}

.search-field {
  .close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
}

.sorting-actions {
  text-align: right;
  .sort-by {
    font-size: 0.875rem;
    margin-right: 15px;
  }

  .btn {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;

    color: var(--text-color);
    border-color: var(--light-grey);
  }
}

.arrow {
  margin-left: 5px;
  color: var(--light-grey);
}
