// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

:root {
  /// Copy text color
  --text-color: rgb(34, 34, 34);

  /// Main brand color
  --brand-color: rgb(255, 103, 19);

  /// Secondary color
  --secondary-color: rgb(0, 133, 154);

  /// Light grey
  --light-grey: rgb(200, 200, 200);

  /// Mid grey
  --mid-grey: rgb(153, 153, 153);

  /// Dark grey
  --dark-grey: rgb(68, 68, 68);

  /// Regular font family
  --text-font-stack: 'Kanit', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
