<div class="panel">
  <div class="panel-heading">
    <span>Make a Transfer</span>
  </div>
  <div class="panel-body">
    <form [formGroup]="form" novalidate>
      <div class="form-group">
        <label for="fromAccount" class="form-label">From Account</label>
        <input type="text" class="form-control" id="fromAccount" formControlName="fromAccount">
      </div>

      <div class="form-group">
        <label for="toAccount" class="form-label">To Account</label>
<!--        <input type="text" class="form-control" id="toAccount" formControlName="toAccount" placeholder="Georgia Power Electricity Company">-->

        <select id="toAccount" class="form-control" (change)="changeToAccount($event)" formControlName="toAccount" >
          <option value="" disabled>Georgia Power Electricity Company</option>
          <option *ngFor="let merchant of merchants" [value]="merchant">{{ merchant }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="amount" class="form-label">From Account</label>
        <input type="text" class="form-control" id="amount" formControlName="amount" placeholder="0.00">
      </div>

      <div class="text-right">
        <button class="btn btn-primary" [disabled]="form.invalid">Submit</button>
      </div>

    </form>
  </div>
</div>
