
.form-control {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--light-grey);
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: var(--light-grey);
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: var(--light-grey);
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: var(--light-grey);
  }
}

.btn-primary{
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}


.btn-primary.disabled,
.btn-primary:disabled {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
  opacity: 0.5;
}

.form-label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
}
