<div class="transaction-list">
  <div class="transaction-list-item row" *ngFor="let transaction of filteredTransactions" [ngStyle]="{ borderLeftColor: transaction.categoryCode }">
    <div class="col-2 transaction-date">{{ transaction.transactionDate | date:'MMM d' }}</div>
    <div class="col-2 transaction-merchant-logo">
      <img class="img-fluid " [src]="transaction.merchantLogo" [alt]="transaction.merchant">
    </div>
    <div class="col transaction-details">
      <div class="transaction-info">
        <span class="h5">{{ transaction.merchant }}</span>
        <span>{{ transaction.transactionType }}</span>
      </div>
      <div class="transaction-amount">-{{ transaction.amount | currency }}</div>
    </div>
  </div>
</div>
